.container {
    display: grid;
    grid-template-columns: repeat(13, 7%);
    gap: .3rem .7rem;
    justify-content: center;
    overflow: visible;
    padding: 1rem;
}

.data { 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.value {
    max-width: fit-content;
    max-width: 60px;
    padding: 0 0.5rem;
    font-size: 12px;
    overflow: hidden;
}
